@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 950;
}

h2 {
  font-size: 36px;
  font-weight: 800;
}

h3 {
  font-size: 24px;
}

#playlist {
  position: relative;
  display: flex;
  margin-top: 80px;
  justify-content: center;
}

#playlist i {
  position: absolute;
  left: 30px;
  line-height: 49px;
  font-size: 36px;
}

#playlist h2 {
  margin: 0 40px;
}
